body{ background: #efefef;margin: 0; }
a{ color: inherit; text-decoration: none; }
*{ margin: 0; padding: 0;}
hr{ height: 0; border: none; border-top: 1px solid #DEDEDE;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
ul,ol{list-style: none;}
.userCard .text hr { margin: 20px 0;}
.clearfix::after{ content: '';display: block;clear: both;}

[data-x].active{
   outline: 10px solid red;
}
[data-x].offset{
   transform: translateY(100px);
}
[data-x]{
   transform: translateY(0);
   transition: all 0.5s;
}
@keyframes slideUp{
   0%{
   transform: translateY(-30px);
   }
   100%{
   transform: translateY(0);
   }
}
.topNavBar { padding: 20px 0 20px 0; transition: all 0.5s; position: fixed;top: 0; left: 0;width:100%;color: #b7b7b7;transition: all 0.5s;}
.topNavBar.sticky{background: white;padding:10px 0;z-index: 1; box-shadow:0 0 10px rgba(0,0,0,0.5);color: #3d4451; }
.topNavBar-inner {padding: 0 16px; }
.topNavBar nav { padding-top: 5px; }
.topNavBar nav > ul { list-style: none; padding: 0; margin: 0;}
.topNavBar nav > ul > li {position:relative; float: left; margin-left: 17px; margin-right: 17px;}
.topNavBar nav > ul > li > a {font-size: 12px;color: inherit; font-weight: bold; border-bottom: 3px solid transparent; border-top: 3px solid transparent; padding-top: 5px; padding-bottom: 5px;display: block;position: relative;}

.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{ content:'';display: block; position:absolute; top: 100%; left: 0;width:100%;background: #e06567; height:3px;animation:menuSlide 0.3s}
@keyframes menuSlide{
    0%{width: 0;}
    100%{width: 100%;}
    }
.topNavBar .submenu{ display: none; position: absolute;right:0;top:100%;background: white;color:#3d4451;box-shadow:0 0 5px rgba(0,0,0,0.5);}
.topNavBar li.active> .submenu{display: block;animation: submenuSlide .3s;}
@keyframes submenuSlide{
     0%{margin-right: 100%;}
     100%{margin-right: 0%;}
     }
.topNavBar .submenu > li{white-space:nowrap; padding: 5px 10px;}


.topNavBar .logo {font-family: "Arial Black"; font-size: 24px; padding-top: 3px; padding-bottom: 4px;}
.topNavBar .logo .rs{ color: #e6686a;margin-right: 4px;}
.topNavBar .logo .card{ color: #9a9da2; }
.banner { height: 515px;background-image: url(./img/rs-cover.jpg); background-position: center center; background-size: cover;}
.banner .mask { height: 515px; background-color: rgba(0,0,0,0.8);}
.userCard { max-width: 940px; margin-left: auto;margin-right: auto;background-color: #ffffff;box-shadow: 0px 1px 5px 0px rgba(61,68,81,0.5); }
.userCard .welcome { background: #e6686a;color: white;display: inline-block; padding: 4px 16px;line-height: 22px; position: relative;margin-bottom: 10px; }
.userCard .welcome .triangle {display: block; border: 10px solid transparent; width: 0px;border-left-color: #e6686a; border-top-width: 0px; position: absolute;left: 4px; top: 100%}
.userCard .picture { float: left;}
.userCard .text {float: left; margin-left: 65px;width: 470px; }
.userCard .text h1{ margin-top: 18px;}
.userCard .text hr{ margin；20px 0;}
.userCard .pictureAndText {padding: 50px;}
.userCard dl dt,
.userCard dl dd{float: left;padding: 5px 0;}
.userCard dl dt{width: 30%;font-weight: bold;}
.userCard dl dd {width: 70%;color: #9da0a7;}

.userCard > footer.media{ background: #E6686A;text-align: center; }
.userCard > footer.media > a{ display: inline-block; width: 40px; line-height: 30px;padding: 5px 0;border-radius: 50%; margin: 16px;}
.userCard > footer.media > a:hover{background: #CF5D5F;}
.userCard svg{ width: 30px;height: 30px;fill: white; vertical-align: top;}
body > main { margin-top: -340px}
body > main .downloadResume-wrapper{text-align: center;}
body > main .downloadResume{font-size: 15px;line-height: 16px;padding: 21px 55px; border: 1px solid #cdcfd1;background: #efefef;display: inline-block; border-radius: 2px;color: #3d4451;font-weight: bold; margin: 33px;transition: box-shadow 0.4s;}
body > main .downloadResume:hover{box-shadow: 0px 4px 10px 0px rgba(61,68,81,0.5);}

.selfIntroduction{max-width: 940px;margin-left: auto;margin-right: auto;text-align: center; font-family: 楷体;line-height: 1.8;font-weight: bold;}
section.skills,
section.portfolio{max-width: 940px;margin-left: auto;margin-right: auto; margin-top: 65px;}
section.skills > h2,
section.portfolio > h2 {text-align: center;color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 500;}
section.skills h3 {font-size: 15px;line-height: 1.1;padding-right: 40px;}
section.skills > ol{background: white; box-shadow: 0px 4px 10px 0px rgba(61,68,81,0.5); padding: 42px 50px 10px;margin-top: 30px;}
section.skills > ol >li{float: left; width: 48%; box-sizing: border-box;}
section.skills > ol >li:nth-child(even) {float: right;}

section.skills .progressBar{ height: 5px;background: rgb(250,225,225); border-radius: 2px;margin: 4px 0 40px;overflow: hidden;}
section.skills .progressBar> .progress{ height: 100%; background: rgb(232,103,107); border-radius: 2px; width: 70%; transform: translateX(0); transition: all 1s;}
section.skills.offset .progress{
   transform: translateX(-100%);
}

section.portfolio{text-align: center;margin-bottom:100px;}
section.portfolio > nav{text-align: center;}
section.portfolio > nav > ol { /*border: 1px solid red;*/margin: 0 auto;display: inline-block;vertical-align: top;}
section.portfolio > nav > ol > li{float: left; margin-left: 40px; cursor: pointer; /*改变鼠标click样式*/}
section.portfolio > nav > ol > li:nth-child(1)/*or :first-child*/{margin-left: 0;}
section.portfolio > nav .bar{height: 5px;background:white;margin-top: 5px; margin-bottom: 35px; border-radius: 2px;}
section.portfolio > nav{display: inline-block;vertical-align: top;margin-top: 32px;}
section.portfolio > nav .bar-inner{height: 100%; /*和父元素等比变化*/background: #e6686a;border-radius: 2px; /*边框设置为小圆角*/transition: all 0.5s; /*所有变化在0.5秒内完成*/}
section.portfolio > nav .bar.state-1 .bar-inner{margin-left: 0;width:35px;}
section.portfolio > nav .bar.state-2 .bar-inner{margin-left: 65px; width: 50px;}
section.portfolio > nav .bar.state-3 .bar-inner{margin-left: 140px; width: 100px;}

section.portfolio .works{position: relative; margin-bottom: 500px;}
section.portfolio .works > .big,
section.portfolio .works > .small{ position: absolute;}
