body{ background: #efefef;margin: 0; }
a{ color: inherit; text-decoration: none; }
*{ margin: 0; padding: 0;box-sizing:border-box;}
hr{ height: 0; border: none; border-top: 1px solid #DEDEDE;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
ul,ol{list-style: none;}
img{width: 100%;}
.userCard .text hr { margin: 20px 0;}

.clearfix::after{ content: '';display: block;clear: both;}

.icon {width: 1em;height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

[data-x].active{outline: 10px solid red;}
[data-x].offset{transform: translateY(100px);}
[data-x]{transform: translateY(0);transition: all 0.5s;}
@keyframes slideUp{0%{transform: translateY(-30px);}100%{transform: translateY(0)}}

.topNavBar { padding: 10px 0 20px 0; transition: all 0.5s; position: fixed;top: 0; left: 0;width:100%;color: #b7b7b7;transition: all 0.5s;}
.topNavBar.sticky{background: white;padding:10px 0;z-index: 1; box-shadow:0 0 10px rgba(0,0,0,0.5);color: #3d4451; }
.topNavBar-inner {padding: 0 16px;display: flex; flex-direction: column;align-items: center;}
.topNavBar nav { padding-top: 5px; }
.topNavBar nav > ul { list-style: none; padding: 0; margin: 0;}
.topNavBar nav > ul > li {position:relative; float: left; margin-left: 17px; margin-right: 17px;}
.topNavBar nav > ul > li > a {font-size: 12px;color: inherit; font-weight: bold; border-bottom: 3px solid transparent; border-top: 3px solid transparent; padding-top: 5px; padding-bottom: 5px;display: block;position: relative;}

.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{ content:'';display: block; position:absolute; top: 100%; left: 0;width:100%;background: #e06567; height:3px;animation:menuSlide 0.3s}
@keyframes menuSlide{0%{width: 0;}100%{width: 100%;}}
.topNavBar .submenu{ display: none; position: absolute;right:0;top:100%;background: white;color:#3d4451;box-shadow:0 0 5px rgba(0,0,0,0.5);}
.topNavBar li.active> .submenu{display: block;animation: submenuSlide .3s;}
@keyframes submenuSlide{0%{margin-right: 100%;}100%{margin-right: 0%;}}

.topNavBar .submenu > li{white-space:nowrap; padding: 5px 10px;}
.topNavBar .submenu > li:hover{background:#4EE2FF;}

.topNavBar .logo {font-family: "Arial Black"; font-size: 24px; padding-top: 3px; padding-bottom: 4px;}
.topNavBar .logo .rs{ color:#729B80;margin-right: 4px;}
.topNavBar .logo .card{ color: #9a9da2; }
.banner { height: 515px;background-image: url(./img/rs-cover.jpg); background-position: center center; background-size: cover;}
.banner .mask { height: 515px; background-color: rgba(0,0,0,0.8);}
.userCard { max-width: 940px; margin-left: auto;margin-right: auto;background-color: #ffffff;box-shadow: 0px 1px 5px 0px rgba(61,68,81,0.5); }
.userCard .welcome { background: #729B80;color: white;display: inline-block; padding: 4px 16px;line-height: 20px; position: relative;margin-bottom: 0px; }
.userCard .welcome .triangle {display: block; border: 10px solid transparent; width: 0px;border-left-color: #729B80; border-top-width: 0px; position: absolute;left: 4px; top: 66%}
.userCard .picture { float: left;}
.userCard .text {float: left; margin-left: 65px;width: 470px; }
.userCard .text h1{ margin-top: 18px;}
.userCard .text hr{ margin: 20px 0;}
.userCard .pictureAndText {padding: 50px;}
.userCard dl dt,
.userCard dl dd{float: left;padding: 5px 0;}
.userCard dl dt{width: 30%;font-weight: bold;}
.userCard dl dd {width: 70%;color: #9da0a7;}

.userCard > footer.media{ background: #729B80;text-align: center; }
.userCard > footer.media > a{ display: inline-block; width: 40px; line-height: 30px;padding: 5px 0;border-radius: 50%; margin: 16px;}
.userCard > footer.media > a:hover{background: #CF5D5F;}
.userCard svg{ width: 30px;height: 30px;fill: white; vertical-align: top;}
body > main { margin-top: -340px}
body > main .into{ display: flex;display: block;}
body > main .myName{float: left;}

body > main .downloadResume{float: right;font-size: 16px;line-height: 10px;padding: 10px 10px; border: 1px solid #cdcfd1;background: #efefef;display: inline-block; border-radius: 6px;color: #3d4451;font-weight: bold; margin: 10px;transition: box-shadow 0.4s;color: #9da0a7;}
body > main .downloadResume:hover{box-shadow: 0px 4px 10px 0px rgba(61,68,81,0.5);}

.selfIntroduction{display:inline-block;padding-top:10px;max-width: 940px;margin-left: auto;margin-right: auto;text-align: center; font-family: 楷体;line-height: 1.8;font-weight: bold;}
section.skills,
section.portfolio{max-width: 940px;margin-left: auto;margin-right: auto; margin-top: 65px;}
section.skills > h2,
section.leaveMessages > h2,
section.portfolio > h2 {text-align: center;color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 500;}

section.skills > ol> li>h3 {font-size: 16px;line-height: 1.5;padding-right: 40px;padding:15px 0px;text-align: center;}
section.skills > ol{background: white; box-shadow: 0px 4px 10px 0px rgba(61,68,81,0.5); padding: 20px 50px 40px;margin-top: 30px;}
section.skills > ol >li > p{padding-bottom:10px; }
section.skills > ol >li{width: 48%; box-sizing: border-box;display:inline-block;}
section.skills > ol >li:nth-child(even) {float: right;display:inline-block;}

section.leaveMessages > ol{
   max-width: 668px;
   margin: 33px auto;
   background: #FFFFFF;
   border-top: 1px solid #F0F0F0;
   border-bottom: 1px solid #F0F0F0;
}
section.leaveMessages > ol >li{
   padding: 15px;
   border-bottom: 5px solid #F0F0F0;
   font-family: Arial;
   color: #009933; 
}
.works{
   margin-top: 30px;
   margin-bottom: 50px;
   background-color: #ffffff;
   box-shadow: 0px 1px 5px 0px rgba(61,68,81,0.5);
}
.works >ol{
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}
.works > ol>li{
   box-sizing: border-box;
   width: 48%;
   padding: 20px;
   display: flex;
}
.works1>p,span{
   padding: 5px;
}
.works>ol>li>img{
   width: 200px;
   height: 200px;
}